
    <header>
      <div className="container header__container">
        <h5>Hello, I'm</h5>
        <h1>React Learner</h1>


        <div className="cta">
      <a href={CV} download className='btn'>Download CV</a>
      <a href="#contact" className='btn btn-primary'>Let's Talk</a>
    </div>

    <div className="header__socials">
        <a href="https://www.linkedin.com/" target="_blank"><BsLinkedin /></a>
        <a href="https://github.com/" target="_blank"><FaGithub /></a>
        <a href="https://www.facebook.com/" target="_blank"><FaFacebookSquare /></a>
    </div>

        <div className="me">
          <img src={ME} alt="me" />
        </div>
      </div>
    </header>

